body {
  background-image: url('fondo.jpg');
  font-family: 'Poppins', sans-serif;
}

#form {
    width: 300px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  
}

#form h1 {
  font-size: 22px;
  margin-bottom: 20px;

}

#form button {
 width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;

}

.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
  border: 2px solid #112daa;
border-radius: 4px;
display: block;
font-size: 12px;
padding: 10px;
width: 100%;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #087546;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}